

:root {
    --color-primary: rgb(224, 48, 98);
    --color-primary-light: #EC5298;
    --color-grey: rgb(53, 52, 52);
    --color-grey-dark: rgb(0, 0, 0);

    --color-grey-light: rgba(53, 52, 52, 0.4);
    --color-white: #ffffff;
    --color-dark-light: rgba(0, 0, 0, 0.705);
}


* {
    margin: 0;
    padding: 0;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.6rem;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
}


/* //////////////////////////////////////// */
            /* HEADER SECTION */
/* /////////////////////////////////////// */

.header {
    background-image: url("../images/header-bg.png");
    background-size: cover;
}

.content {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */

    padding: 0 5rem;
}

.header.content {
    align-items: center;
}

.half-width {
    width: 50%;
    margin: 6rem 0;
}
.half-width img {
    width: 130%;
}

.text-box {
    margin-left: 10rem;
    margin-top: 10rem;
}

.heading-primary {
    font-size: 3.5rem;

    border-bottom: 3px solid var(--color-primary-light);
    display: inline-block;
    
}

.heading-secondary {
    font-size: 5rem;

    display: inline-block;
    background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-primary));
    -webkit-background-clip: text;
    color: transparent;

    transition: all .2s;
}



.heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: .5rem 1rem 2rem var(--color-grey-light);
    
}

p {
    color: var(--color-grey);
    margin: 3rem 0;
}

.link-button:link,
.link-button:visited {
    text-decoration: none;
    background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-primary));
    padding: 1rem 2rem;
    border-radius: 2px;
    color: var(--color-white);

    transition: all .2s;
}

.link-button:hover {
    transform: translateY(-3px);

    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.link-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

}


/* //////////////////////////////////////// */
            /* BIOGRAPHY SECTION */
/* /////////////////////////////////////// */

.biography {
    background-image: url("../images/biography-bg.png");
    background-size: cover;
}

/* //////////////////////////////////////// */
            /* Skill SECTION */
/* /////////////////////////////////////// */


.skill {
    background-image: url("../images/header-bg.png");
    background-size: cover;

    margin-top: -.1rem;
    text-align: center;
}


.skill .heading-primary {
    margin: 6rem 0;
    
}

.all-skill {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
}


.bar {
    margin: 1.2rem 0;
}


.fill {
    height: 1.2rem;
    background-color: var(--color-primary);
    border-radius: 1px;
    display: inline-block;
}

#html {
    width: 80%;
    animation: html 2s ease-out;
    animation-delay: 1s;
}

#css {
    width: 60%;
    animation: css 2s ease-out;
    animation-delay: 1s;
}
#python {
    width: 50%;
    animation: python 2s ease-out;
    animation-delay: 1s;
}
#javascript {
    width: 30%;
    animation: javascript 2s ease-out;
    animation-delay: 1s;
}
#react {
    width: 30%;
    animation: react 2s ease-out;
    animation-delay: 1s;
}
#django {
    width: 55%;
    animation: django 2s ease-out;
    animation-delay: 1s;
}

@keyframes html {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}
@keyframes css {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}
@keyframes python {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes javascript {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

@keyframes react {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

@keyframes django {
    0% {
        width: 0;
    }
    100% {
        width: 55%;
    }
}
/* //////////////////////////////////////// */
            /* Latest Work SECTION */
/* /////////////////////////////////////// */

.latest-work {
    background-image: url("../images/latest-work-bg.png");
    background-size: cover;
    
    margin: 10rem 0;

    text-align: center;
}
.one-third-width {
    margin-top: 3rem;
}

.one-third-width img{
    width: 90%;

    transition: all .2s;
}

.one-third-width img:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0 2rem 4rem var(--color-grey-light);
}

.latest-work .heading-primary {
    text-align: center;
    margin-bottom: 6rem;
    
}

/* //////////////////////////////////////// */
            /* Client SECTION */
/* /////////////////////////////////////// */

.client {
    background-image: url("../images/footer-bg.png");
    background-size: cover;

    text-align: center;
    margin: 10rem 0 -3rem 0;

}

.client .content {
    margin: 6rem auto;
    flex-direction: column;
    width: 60%;
}

.client-about h2 {
    margin-bottom: -2rem;
}

.client-speech {
    font-size: 1.6rem;
    color: var(--color-dark-light);
    margin: 0 auto;
    width: 80%;
}
.client-message {
    background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-primary));
    margin: 5rem 0;
    color: var(--color-white);
    border-radius: 1rem;
    padding: 0 0 3rem 0;
    width: 100%;
}

.client-message p {
    color: var(--color-white);
    margin-bottom: .7rem;
    font-size: 1.4rem;
}

/* //////////////////////////////////////// */
            /* footer SECTION */
/* /////////////////////////////////////// */
footer {
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-grey-dark);
}
 
.name {
    color: var(--color-primary-light);
    text-decoration: none;
    display: inline-block;

    transition: all .2s;
}
.name:hover {
    box-shadow: 0 1rem 2rem var(--color-grey);
    transform: rotate(5deg) scale(1.1);
    padding: 0 1rem;
    background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-primary));
    color: var(--color-white);
    border-radius: 2px;
}