

:root {
    --color-primary: rgb(224, 48, 98);
    --color-primary-light: #EC5298;
    --color-grey: rgb(53, 52, 52);
    --color-grey-light: rgba(53, 52, 52, 0.4);
    --color-white: #ffffff;
}


* {
    margin: 0;
    padding: 0;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.6rem;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
}


/* //////////////////////////////////////// */
            /* HEADER SECTION */
/* /////////////////////////////////////// */

.header {
    background-image: url("../images/header-bg.png");
    background-size: cover;
}

.content {
    display: flex;
    justify-content: space-around;

    padding: 0 5rem;
}

.half-width {
    width: 50%;
    margin: 10rem 0;
}
.half-width img {
    width: 100%;
}

.text-box {
    margin-left: 10rem;
    margin-top: 10rem;
}

.heading-primary {
    font-size: 3.5rem;
}

.heading-secondary {
    font-size: 5rem;
    /* color: var(--color-primary); */

    display: inline-block;
    background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-primary));
    -webkit-background-clip: text;
    color: transparent;

    transition: all .2s;
}

.heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: .5rem 1rem 2rem var(--color-grey-light);
    
}

p {
    color: var(--color-grey);
    margin: 3rem 0;
}

.link-button:link,
.link-button:visited {
    text-decoration: none;
    background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-primary));
    padding: 1rem 2rem;
    border-radius: 2px;
    color: var(--color-white);

    transition: all .2s;
}

.link-button:hover {
    transform: translateY(-3px);

    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.link-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

}


/* //////////////////////////////////////// */
            /* BIOGRAPHY SECTION */
/* /////////////////////////////////////// */

.biography {
    background-image: url("../images/biography-bg.png");
    background-size: cover;
}

/* //////////////////////////////////////// */
            /* Latest Work SECTION */
/* /////////////////////////////////////// */

.latest-work {
    background-image: url("../images/latest-work-bg.png");
    background-size: cover;
    margin: 10rem 0;
}
.one-third-width img{
    width: 80%;
}

.latest-work .heading-primary {
    text-align: center;
    margin-bottom: 6rem;
}